<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

        {% block seo %}{% endblock %}

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

        <link rel="stylesheet" href="{{ asset('css/jquery-ui.min.css') }}">

        {% block stylesheets %}
        {% endblock %}

        <script type="text/javascript" language="JavaScript" src="{{ asset('js/jquery.js') }}"></script>
        <script type="text/javascript" language="JavaScript" src="{{ asset('js/jquery-ui.js') }}"></script>
        <script type="text/javascript" language="JavaScript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    </head>
    <body>
        {% block body %}{% endblock %}

        {% block javascripts %}
        {% endblock %}
    </body>
</html>
